* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, black,darkgoldenrod);
    display: flex;
    justify-content: center;
    align-content: center;
}

#calculator{
    padding: 20px;
    border-radius: 3em;
    background-color: #222;
    justify-self: center;
    align-self: center;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: .2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'SCR SCR SCR SCR'
    'AC  BAC EQU EQU'
    'SEV EIG NIN ADD'
    'FOU FIV SIX SUB'
    'ONE TWO THR MUL'
    'PNT ZER NEG DIV';
}


#screen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(255, 223, 144, 0.678);
    grid-area: SCR;
    height: 4em;
    border-radius: 20em;
}
#current{
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: end;
    padding-right: .4em;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 2em;
    width: 200px;
}
#previous{
    grid-row: 1;
    grid-column: 1;
    position: static;
    padding-left: 1.5em;
    align-self: end;
    justify-self: start;
}
.func {
    background-color: darkgoldenrod;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    background-color: #555;
    height: 4rem;
    border-radius: 20em;
    font-weight: bolder;
    font-size: 1.7em;
}
div:hover, .op{
    background-color: rgb(255, 233, 193);
}